<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add an Example</h1>
    <form action="/examples" method="POST">
      Author: <input type="text" name="author">
      Title: <input type="text" name="title">
      Link: <input type="text" name="link">
      Yellow Sentence: <input type="text" name="yellowSentence">
      Green Sentence: <input type="text" name="greenSentence">
      Blue Sentence: <input type="text" name="blueSentence">
      <input type="submit" name="Submit Entry" value="Create Entry">
    </form>
  </body>
</html>
